
    
    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="col-md-10 col-sm-12 col-xs-12">
          <div class="title_left">
           <h3>Payment Management</h3>
            <h4>User Diet Plan History</h4>
          </div>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12">
          
          </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_content">
                <table id="datatable-responsive" class="table table-condense dt-responsive" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Full Name</th>
                      <th>Email</th>
                      
                      <th>Date</th>
                      <th>Diet Plan</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>01</td>
                      <td>Kiran Riaz</td>
                      <td>admin@gmail.com</td>
                      <td>17-10-2020</td>
                      <td>
                      Diet Plan 7
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content --> 
  
